body {
    margin: 0;
    padding: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
    direction: rtl;
}

.bg-gray {
    background-color: #e6e6e6;
}

.section {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 0 40px;
}

.section-half {
    width: 50%;
    display: inline-block;
    float: right;
}

.section-half:not(:last-child) {
    border-left: 1px solid #777;
}

.section .section-header {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.section .section-body {
    font-size: 18px;
    padding: 7px 12px;
    border: 1px solid #777;
}

.section-sep {
    width: 100%;
    height: 1px;
    background-color: #777;
    margin: 15px 0;
}

.section-important {
    border: 3px solid #777 !important;
}

.table {
    direction: rtl;
    width: 100%;
}

.table th,
.table td {
    text-align: right;
    padding: 5px;
}

.table thead th {
    border-bottom: 2px solid #000;
}

.table tbody tr:not(:last-child) {
    border-bottom: 1px solid #000;
}
