#table th:not(#chks) {
    cursor: pointer;
}

#table th#chks input[type=checkbox] {
    cursor: pointer;
}

#table th .indicator {
    margin-left: 6px
}

#mkdir {
    display: block;
}

#file_drop_target {
    width: 100%;
    min-height: 139px;
    padding: 12px;
    border: 3px dashed #ccc;
    font-size: 12px;
    color: #ccc;
    text-align: center;
}

#file_drop_target.drag_over {
    border: 4px dashed #96C4EA;
    color: #96C4EA;
}

#upload_progress {
    padding: 4px 0;
}

#upload_progress .error {
    color: #a00;
}

#upload_progress > div {
    padding: 3px 0;
}

.no_write #mkdir, .no_write #file_drop_target {
    display: none
}

.progress_track {
    display: inline-block;
    width: 200px;
    height: 10px;
    border: 1px solid #333;
    margin: 0 4px 0 10px;
}

.progress {
    background-color: #82CFFA;
    height: 10px;
}

#breadcrumb {
    margin-top: 15px;
    padding: 10px 15px 6px;
    font-size: 15px;
    color: #aaa;
    direction: ltr;
    background-color: #f6f6f6;
    border: 1px solid #eee;
    border-radius: 5px 5px 0 0;
}

#breadcrumb *:not(.active) {
    color: #999;
}

#folder_actions {
    width: 50%;
    float: right;
}

.sort_hide {
    display: none;
}

#table {
    border-collapse: collapse;
    width: 100%;
    direction: rtl;
}

#table td {
    height: 30px;
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    text-align: right;
    direction: ltr;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#table td, #table th {
    padding: .8em 1em .8em .2em;
}

#table tr.selectable td {
    background-color: rgba(130, 207, 250, 0.2);
}

#table td.first {
    font-size: 14px;
    white-space: normal;
}

#table td.empty {
    color: #777;
    font-style: italic;
    text-align: center;
    padding: 3em 0;
}

#table td img {
    border-radius: 0;
}

#table [class^=bg-],
#table [class^=bg-] .checker span:not(.checked) {
    border-color: #fff;
    color: #fff;
}

#table [class^=bg-] .checker span {
    color: #fff;
}

.is_dir .size {
    color: transparent;
    font-size: 0;
}

.is_dir .size:before {
    content: "--";
    font-size: 14px;
    color: #333;
}

.is_dir .download {
    visibility: hidden
}

a.delete,
a.rename {
    display: inline-block;
    margin-left: 20px;
    font-size: 10px;
}

.name {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAADQklEQVR4Xu2bS+tOURTGf3+XGRE+ghggcivXlIEhRRlTDNy/gMgncB9QjBXFTErJLSGXUIihGSJG7j21T/2d3nPO2u8++92bc/bwfdfZe61nrbP2Ons/awzbmAbsBDYCc4GZwJjt0ZFJ/QY+AK+AK8AZ4HPT6hYjtgKngRlNk2X2/0dgF3ChTq8mAPYDRzMzzFedA8CxqofqAFgHXAcm+K6YmfwvYD1wY5BeVQDo98fAwsyMGVadJ8BiQHnir1EFwArg7oDVvgLHgaeAkM1pKFLlsH3AlAGKyaZ7VgAOAYdLwj+AlcCDnKweoMsy57xJpf9k0xErAOeAbSVhRcSqzI0v1LvjnDVe3fPAdisAF4HNJeFLwJZ/BACz/lU5wDxBpoCY9e8BqPCgGcE+AvJEwOzAtl+BqW4f1n5srSDfAWeB5y1imQSAyW7/XTqEId+AJS2CkAQA1Qi3hzC+eEQVpj6+2hg9ANY6ps0coNJT1aJKUd/xX7wCMlpJcC+wqItJ0NfrMeWT5ICYBvnO3QOQIgn6eimmfB8BqSJgLXACWBDh3kDnec/cLnOzIXySRIAuS94CukSJOT4Bs90lSNU6SQDYAFyNafm4ubXWtZq1kgCgK7OXIwJAa73ODQDpo1PXg5FB0Bo64a0bSSKgUGgOMN+jFLbipXsInRnUeb6YKykAVoNiyvUApKoDYnrVZ+4+AlJGgLaoeZGS4AvHAGmKhmQR0OltsPOFUOdLYX0MvQGmN72ggf9n+zEku9YAJyN/Du8BbuVcCgc6uJXHk+0CrWjfwiQ9ACkLoRYcGDxFHwGpImAYfoDV3ToPED9Rt8hfctwFQvgBVhAk99BR4L7ndiQWyg/wAWE1IC5g1UiSAzoPQAg/wMf7ouqKsivqblYRIGWG4QdYjVcSFOtbN09ZJkGrIaOQS5IDRmGYdY0egFSFkNVDseX6CAiNgM43TAxqmfnp9t/7seM3cP7ljq84sTSPV8tMXdOU9mHtxzk2TYmfKJ5icNOUGKSPHOEx0CFZPO7dNietO904Wbit062zBQhqnj7lOsaziGejEuok3x3aPF2sJebXDmATIAbIrAg0OKNdlWKi0b13DJLLrgulsX3+D+LzQlDcY5z1AAAAAElFTkSuQmCC) no-repeat scroll right 9px;
    background-size: 35px auto;
    padding: 15px 50px 10px 0;
}

.image.name {
    background: none;
    padding: 15px 0 10px 0;
}

.image.name .img-name {
    -ms-flex: 1;
    flex: 1;
}

.image.name.xls {
    cursor: default;
}

.image.name img {
    width: 100px;
    height: auto;
    -ms-flex-item-align: center !important;
    align-self: center !important;
    margin: 5px 0 5px 10px;
    vertical-align: middle;
}

.is_dir .name {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAULElEQVR4Xu1aW48cx3X+TlV3z/Tcd5f35VKSJVkXmqLEpW0FTuDAQhAgyEseAuQP5DW/IECclyBPSRzDjp0oQBDEcIw85SkB8mAkAewHw3YCm7IlWRRJ7ZJcci89156+VJ3gVHXPzi4pKYoVW4LUIDk11VU9db5zzncuTcJH/KKPuPz4GICPLeAjjsDHLvARN4CjJMjMerQ3umJy0zwCTFB/C7A0PLJEN/ScUrodr8V3iMh+WIBduMD+nf3fYkt/DvA5IoJA4z5RfR757iY9eqSg6qfIJ6EEqdtgu0Wgn4DwrVav9d0PKiALAHbf2vseCE/ns8xJ1mzHnKVzJ2YQBSxYlKVxkDTaMefp3KEUNkJmyzDGkNKKw0aIPM1I9tdCM/hNAN9QVn2ztdq69UECwwGw97O9DRvxK6LxAIUCE6wOWKOsVE3sNM1GlrChCAGXsoys0qzBIDAxgaEDUFmQCRoWUAtZZcRgAeU/BIyCin9ZWVlJftlgOAD2t/cvmNJcE7M+YvLOD5y1O9uu/tQTbztfrXbr3/FiTBm8RVBblu02MfZkvSOQ6p8FmfAhrdjF0Fbrju6RvctL6m/yCE0qyW3+rY2nNrYX5xQAysJc88LX/yxzwPLcMTAWmyp5a7Bqyd8JhCUnkeXOPhZ+w3Bfqzmub7KzpGq+sqmluWqXk7le5/YutjCsxY31p848RyRGW1lAkZXXaot1JOD++M+FVRzKvrCCQ/nrhdX6B1RfI7Es5UK+pYGXegFGhcIhOA8KXe3wvyiCV4sPPw/RrcFAyRfXP7V+awFAPi+cBSwEr9y34vqHALIwoEOQDh/wzqZ//G4lpEJWaV0mPGBeiNoM6u9yjyHk6xcta3sxsbAg7z3eKWqrUKp47szTT7/pAXhj/0Jm82sP1zYtc5m3ivqqrWQJi2XZKkpZCFPf03ZHNeffDxUnSvGUlJqDKCMviTgwQ+zUmYE1/tON67nq081Ve9w+kbDeL6Ie33N4X9lsC0H4xwsA0jK7tjjwIsZXR66/LwStYDgk+Ur37+TwFnH+w6CZ/SDUvKMc2SjlXYmqT6/y6m8lSC14LcxC4CVQFsBUAlbAsICxeN4SWJahzCwB8aEFzPLURYFDDqM6KHgUjoNSi3xc5mPfFXK00v+MmsV/BcpOaSG0E17BWgtSGqQJJjceFxlnJdhYBA3txuU8R6MdwRYl5skcrUEDbBiT+xN0T8RgazG8PcHgTNtZwe7NIdbOdx0AuzeGWNvogGT85hCr6x0ESBNYO3LH3X5j/4LNZtdqv1u2hCWl1+ZwFJhlq2ALZScUmDuqUdzUQXFLh2ZbQTJjp+llrfvvliXF0CBFMGUFACmUeeE8NlAKRVGCrUEUaEnGUBYFmmGI0lhk2QztqAVjLSbphHpxj21pMJpPqN/qMIoC+/OUBq0eq3yOA1NSN2pyM91NYM2I+B9f+qRB/EcmHPweiBcHrdPhhcbENpzJHxeizpXEAXPRKVxu/DCBXc6sjt6vrGtBLQvOq+KW82l5Nh3ygewxFTfIvBv7NSzjmhxtWfGnAmzh58XdTAlVzhJiMyT7jS/8OxfZJRt0Bs7MFwc/LoTP+70W3+bekfnqYJkBWQsWk282gTiqkw33aYxx2ldaI08LKEXO7LNJ7gRvtEM3LucF2itNN06HKQan2yjSAsnOBCfW++7+7tYQZx5ZcZa0fX2f1h9bYbIGt15PaP2xLgcauPHqkM5e6HA7mCUwPCLz8ouvgumkjdoOgKNCCtTHNHZMSDoGCucGnBXAvASMdb4tAoqZi4VxpwUM2pUlLQEpCnc848nKZygAGQuWL5pB8myJFYGCmueeQyINNc2cgZg4hJ7MHa/YXgd6OJECBma1Dz2cAvM5zIkV6FEKNbmfgM2I7Nc+8yoDJ03YGTjt16XdgqFr3106rAjt3MFbhMkMbFrApAVgANJC8LQkvFiW30NaAatdIG54SxCTd7/pExx3Bq6THes9Q74LmLJOhCuNe77Mm8JAu7FdGjPKxbyMSwRa9vp5Gety6knQfGXzNTBOCACHflsLWwlKErWqrJBcrYQitSgmIrRoWphbFCKaIijRpGjeGZTyRqWrT6WgogA43fckaNiFQ9laFN4dAq2QZ1KIWURhgCwrnVm34gD53CDLcnTbDeSFxWQ8wWq/g6K02N8f0akTfRZQdvaGdGZtIAjh9v6Ezqz1WZc5tpOUTq10OE73EkAA+NILrzHzCSsALJt37Q4V8TEpZBODdGKQj43TmIAihqICclpwSnYm7y3AaVzmBUDn517DzkLOroKCyr3q7Fg21slQZV1CWAIUy/dSIgMgFSfyubeeRgzMpp4E4y4wGfrY3+4D44NqvAKM9v2aTg8YDaGKSUK2HFHxZ885C7ChcEDt757ZLStMx4xJYjGfCtOKwOyEc4K7T//dCViB4YBxFiFrvOZ92Pf5j6zVKzFUv+XTWQeQkLwkLn6vKa27F4QKtjAoc4Mo1rCFRTYrELdD5xbTUYZOL3I5wXh/hu5qw2WEyW6KwUrDWVFyf47+SuT4Jdmfo9cLEUoiJADkf/qp14mwZhwAQGkJw0T+AtOJ1PmVoNpZtzucE7SKhm4sc0JMzp/rNd4NnFE5cASkCiwi6KZGeK7nOgm+88Quk3UWIg2WqirVpXVj1oQgNzBKwSggyksYUii0RTNnGChkgUWrIEeCaQRqFWDkBaZxQO2CmOYpJp2Y4sJymOwkLHlA9ifPvJ4XdOL+qNPfPSCMxxpEDOEqp10nuNe0nwM6A4X+mkYYaehIuTlXs0jSkhpkU4MylaTmmIU4F6iiqCI0N3pQoa7ovsqzjpXIzswXpXCV/srSOv11YyFNF0Z8ruA2LeUHLAcsq/zAr9H5JGEhwX/9nav3RlPd1aFuioC6ElQ7EIjdd6dJRrsDrG9ohCHhYF8yMk90cr+mjEZLo9nSCGKFbFwi3Su8VTirqflBSJHQXGsg7Pv+q4BljPCKt5KysE6MMCAUhYUpGc0GocgZeW7QjpVbM00Neu3AkeRoUmLQC8Flif1xidWudkDtDQ3WuhrEBvsjRr+lEBUjHwb/9vOfO9DKxmGoGp6TJP30B/ZgMJoh+BOPygGAu/eA0gjpAUHoo+GCE5bCn5h+ayVAEBCGdzKfZNacUaUbYStA53y7Coc+GrhLtKvFXABIGiwRRLKYNANLy02iyGTmfI3bTVAy8WbVawEHY8+jqx3Q3shliXxiAJL5eQacWgWSMdR4L2FjRvTyr72YKEVNpYOG/J5W1glXW4OA8cLTJe/sK0ymHhTRShgyokjCuTRNPcEVWVVvVwWwWEazpdBZ1TjYLmAKW3FCzSGMlce7LnI8cEnsrwvpKi9wSZKrfn1+ICuEOMWyxE382LuMLa3H0y7Ny3qZFzfMJwmMGdLLn/usByAIhDIXlwvpmvHshZyLknA/0Q6UKGRIw/fMSUa360OdKEsik/hBniuMh9ZFJlG7gBBFhJXTAe6+mTuLcWTo0m5G70yE1iD0ebz7dU+8kh7I87QkONKkBSNkRsmEUrrW1qCEQs4GLfbrZ7DosHIAjcHoya+ZEkMi9CQCZRmGWqNDCtHoniRCQ3r5Vz6TKI2mCsIjAMhRzq2WfG4tx7WbMSnNiEPijVMFOm1BlxAEcH+bcRX3hdGFDzQwSYC9Ay+MgNDu+lJ7tCtZnHc18fu4o7C2EVWtKK9XT3pV4lUXQqoqdFweoCHs7q5GA0hTt4eaLfBs4ve3OsBkVI17S/lBBxiNoLKJcMCQXn7x0w4A0kcBEFP//MUxf/e1Lgm6kuhsrOXcbVncPghxblXIx6IRiVUAVvIG57oEFQBhqJBlwJ0db5LiNmfXCbfeNLDSkBDtulDKWH8ihBbzqiygyn4rchSTFzMWa/K5jJE+gSY3LxlgVAWSeWocUcrvpalx7inj2cy6GkyuNLNoaiAoxhIGh/TyZ68mSqFJxyzgbL/gQbvAjd2mU8WgbfjSIynuj0OXKzQjRr9tfUrvSgJJnAhZ4d2iERCimHH/vsJ46kmz02FEIeH2bYZEGedminHqnEJ3sGhCVj2+KpOUYkh+ICBQXoKF+EIFJYRIGrapoac5WPoJzQDBtHBCF50I4SQDFwbFIEYwyUHzHMVKC2FaQO/fSxgCwKc3ExIXOGYBVy5M+E4SYZhpChTxC49OnE/OcqF6oBszZrmCsd4V4pCd5hshIGm8aEiihljyzTsabMQqgEc2GD+65hMkcQOxgk6PcX5jub9W97CXWemwFe77m1WLS7a50F81ElzLrEomFrmCL6KW5ykbJcR2SH9zdVMsoKGC4MgL0ZeePeDvXe9B+DYODV78xBiTQmNuAnSaFpO5xtZeA9Nc4/yJ3EctAvotcQuLeaHRaho0GoR7+xrjiXKkunHW4qfXA5iisgDtreHpp3wGuegAu76+j4SS5Mg5hBBFPpE3hIW1hIKBhrA7M3IGmlJyM2NuCE3pRIk7WIWm5IrWYMYBmspAp8kBsR3RX29u7mvhgCCKa7zbjZIvb8xwbbvlDnG2n+OpsynmpUJWanRii71JiK39yGn1RNdgPPf5fLvJ6MXWgRFF7DjiYKJxf18jCBinVy1u3dGYznyo9QUk45HzFiuDpXcGVRRwTu+yLckJpNsk7qB9TJcfbAbAbO7riVYDPBZCBNBtAjIWzXdb4FHqiinqd8CzDHq8u+ss4Oubm3vCASqMWocAGAfAT+60XHBaX82wsZojKxQK64uAUaphrEKoGUKM4hqF9cVOv2PcfKglXwCmqcLWXuAEXekZ7CYau4ny1bNmBMS81mc8/ojo9ggXHnknUDf6Xd/A58gen4o8pSCqg6kQrc8b6jXV+qrrp9ODe7Amob+6srmrFZo6aiwAEN986WLCP7zRdS/6T/dyPHoi57QgZKXEZIVZpinUzBKL4wajLCXes+MEiQ7i25IbiLJmmcLNe6E756BreZoq2trRC+1LJBDAPn2pkJrn6OWl9ZfrFPlQKQWTiGglD5HKUUhY8pHSt9PLgBCU/r1CESiEgq0xKMIAATP0cOeuC4NffWHzntYkAHSWf/k3Lo34hzda7qdXOiWeOJ2xCJ/mXsuSHE0zTe3Ycl0W+waARAd5/ybdXuWytXEa4N5Qk7S2Tq+WfHMnpPuJEmKvUm/PB5ceL3ht4N5uHENhuSCqLaQiO3EJaYTKJURUSBQAKAjARe67TGEIlnnhlGqsJve2IWHwK89v7ihNcdhoHgHg88+O+dpW7PBuhBYXN+audBfBBWQRJi8VCkMuBwhd0QSnfQHElfmu5a1w+yDAJJUMCXjiXM7f/u8WiaW4UptsVXuwJF4OhCPiL1eH1Su0w3dentgXZm88kC4VdrlGZTgVdVRG5NPx8b23iIuEvnz56t1Aoxk0494y7M8/mvK8IDqYBC5ZObtS8qleAWPICV1fEgpnhbeKXsuiLW4Anxy5/kKpcP1eKI1hlySdGpT8nVfiB5J/OVQjZLx0ZSYhfckIlonx8F2gd3spoACIqbs6W8y8ejEuviTzcklBI9mcaCXyY5Vs32BTDAWA20ojDput/jIAccT41Wem/ONbDZKsLQotnjhTsJCWC0VGqkKFeUHuHIH2iAdSJIn/SSUKYGsvxCT1r1pWeszDiaLrdwUdfw3aBmEA3B/6dO7Fp+d8qn9IhkedYSk/qF55L4A4ajcPutCxGTXavk42P6C/vLy5rZWKg1ZrcHzXU+sZooB5OJOWCFxcX181HAYehLIECiN+XlWJVQPF1fSksJNoJFNdaR+4cLrg77zSIgHN+SOA37w6YwHg334Q0zwnfOJMiYuPZA+SwNL/D1gIXeUI7ybtoqo8bJUgSN563ZoyoS89d/UtpakVxq2V4w+SZs3nLqZ8YydwAEg9EAYWJ3uGhflrK6xfpYngcuUFYW+sJVOUtr7ji0dPF/yjGw2S+eXryXMF4ojdPSFM0f5nnnoQgMV/kKh/1H2+m+hvf18lN1+FKQ/oLy5dfSsIKA5a7dWHLV9fLfDkuZJv70sUlwKGJfXlKLDOZ6XIENM3UpgYhSyX6EBUSg9VwpQFTg8M7ySa3lgy/eXf2nwi4xs7Ie2NFS6cLPHcY5LT1dfD0uL/u+D1Tn1w8ydc5mIBm1taoxXGnQdcoF58olfi0qMZ7420dINIa5YuW5X+SuoplZnnGRlLe79O4NZ6Jc8Lhe//7EHiWzy/azBMfUR58ZMzPtlbSoh+flkf+gRKbr2mbHFAX758ZVsp5wJHSPD4rjiy2Hx8LsWV07KwriRM4siOj9z/T5C+nkQ/wqBjuBla/HS7Qbf3D0nvneR58lyGZ9Yf4v//DyCoZOtnbIuEvnL5ym2tEOt3AUDOIAI/dirHmZWC2yGjzgz9PWlgWlcVSon7+t0mvXmvsYhKbyeDPPNkr8STZzNe68jboF/MFQy3r1suE/rq5St3lEYraMprlf/9JanryV6OUz0jVkHzXDlAZpl2laL0DN7u0iREWmJ9reAz/dylwb/oS4/u3IQtE/ra5efvqkC1dONoKvx+HyhQjDP9QgorPt0tXN7wy7z0ZOctkjD4teef3wkCxDqKj6TC78fhQm1xbpDj/ErGJ7u5K38/KJeeSi1QHtDXn7/8htZ0OliqBn+eQwrxnevPcX4141OdwnV+P4gXzXbvUln+mP5h8+LfZRT87nI5/F4P3I5KnB9kfH5ljrV2vvwf6d7ro35h61W6d1fPyz+gLwLqiasX/8mE7d8GbNU7ffdz9BulE/h8P8Vqu2pRv/u2D8SKorG229h95feDvzf/vKDqb//6yc50cOWLHIRHqsLlE8cR8rUepif6NO22Vf6BkOY9HoJU62b/D7/5zXrb28eq9/jgD+vyjwH4sGru/Tr3xxbwfiH5YX3OxxbwYdXc+3Xu/wF4HUfhr8kSJQAAAABJRU5ErkJggg==) no-repeat scroll right 5px;
    background-size: 40px auto;
    padding: 15px 50px 10px 0;
}

.delete,
.download,
.rename {
    font-size: 10px;
}