@charset "utf-8";

@font-face {
    font-family: "IRANSansWeb";
    font-style: normal;
    font-weight: 400;
    src: local("IRANSansWeb"), local("../fonts/IRANSansWeb"),
    url("../fonts/IRANSansWeb.woff") format("woff"),
    url("../fonts/IRANSansWeb.ttf") format("truetype")
}

html, body, div, p, input, textarea, option, select, a, b, li, ol{
    font-family: "IRANSansWeb" !important;
    font-weight: normal !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: "IRANSansWeb" !important;

}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    font-family: "IRANSansWeb" !important;
}