.tree ul {
    padding: 0;
    list-style: none;
    margin: 0;
    position: relative;
    color: #777;
}

.tree ul ul {
    margin-right: .5em;
}

.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-right: 1px solid;
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    color: #777;
    font-weight: 700;
    position: relative;
}

.tree li.empty-dir {
    color: #999;
    font-weight: 100;
    font-style: italic;
}

.tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    right: 0;
}

.tree > ul::before,
.tree > ul > li::before {
    border: none;
}

.tree ul li:last-child:before {
    background: #f3f3f3;
    height: auto;
    top: 1em;
    bottom: 0;
}

.indicator {
    margin-right: 5px;;
}

.tree li a {
    color: #777;
    padding: 3px 7px;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    -webkit-transition: color ease-in-out 0.2s;
    -moz-transition: color ease-in-out 0.2s;
    -o-transition: color ease-in-out 0.2s;
    transition: color ease-in-out 0.2s;
}

.tree li a:hover {
    color: #555;
    -webkit-transition: color ease-in-out 0.2s;
    -moz-transition: color ease-in-out 0.2s;
    -o-transition: color ease-in-out 0.2s;
    transition: color ease-in-out 0.2s;
}

.tree li a.selectable {
    background: rgba(33,150,243,0.12);
    color: #2196F3;
}

.tree li a .folder-icon {
    font-size: 17px;
    text-align: center;
    margin: 3px 0 0 5px;
    float: right;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color: #777;
    border: none;
    background: transparent;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    outline: 0;
}